.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  text-align: center;
  background-color: white;
}

.container {
  height: 50vh;
  display: flex;
  align-items: center;
}

.title {
  font-size: 48px;
}
