.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
  min-height: 100vh;
  text-align: center;
  background-color: #d1d7e0;
}

.title {
  font-size: 56px;
  margin-bottom: 5rem;
  /* color: #802bb1; */
}

.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 45px;
  }
}
