.container {
}

/* Container for wave form visual and controls */
.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.5rem;
  width: 80vw;
  background-color: #664a66;
  margin-top: 10rem;
  border: 2px solid black;
  border-radius: 5px;
}

/* control container */
.wavesurferControls {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.childControl {
  /* center icon inside control button */
  background-color: #ffffffad;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 3rem;
  width: 3rem;
  margin: 1px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* The wave form visualisation */
.wavesurfer {
  padding: 1rem;
  border: 1px solid black;
}
